<table>
  <tr>
    <th>Stops</th>
    <th>Car Number</th>
    <th>Driver</th>
    <th>Team</th>
    <th>Lap</th>
    <th>Time Of Day</th>
    <th>Time</th>
    <th>Total Pit Time</th>
  </tr>
  {{#each model as |result|}}
    <tr>
      <td>{{result.stops}}</td>
      <td>{{result.carNumber}}</td>
      <td>{{result.driver}}</td>
      <td>{{result.team}}</td>
      <td>{{result.lap}}</td>
      <td>{{result.timeOfDay}}</td>
      <td>{{result.time}}</td>
      <td>{{result.totalPitTime}}</td>
    </tr>
  {{/each}}
</table>
