{{#sortable-table}}
  <tr>
    <th>
      {{#link-to 'race-result' (query-params field='position' direction=toggleDirection)}}
        Position
      {{/link-to}}
    </th>
    <th>
      {{#link-to 'race-result' (query-params field='carNumber' direction=toggleDirection)}}
        Car Number
      {{/link-to}}
    </th>
    <th>
      {{#link-to 'race-result' (query-params field='driver' direction=toggleDirection)}}
        Driver
      {{/link-to}}
    </th>
    <th>
      {{#link-to 'race-result' (query-params field='team' direction=toggleDirection)}}
        Team
      {{/link-to}}
    </th>
    <th>
      {{#link-to 'race-result' (query-params field='laps' direction=toggleDirection)}}
        Laps
      {{/link-to}}
    </th>
    <th>
      {{#link-to 'race-result' (query-params field='timeOrRetirement' direction=toggleDirection)}}
        Time Or Retirement
      {{/link-to}}
    </th>
    <th>
      {{#link-to 'race-result' (query-params field='grid' direction=toggleDirection)}}
        Grid
      {{/link-to}}
    </th>
    <th>
      {{#link-to 'race-result' (query-params field='points' direction=toggleDirection)}}
        Points
      {{/link-to}}
    </th>
  </tr>
  {{#each sortedResults as |result|}}
    <tr>
      <td>{{result.position}}</td>
      <td>{{result.carNumber}}</td>
      <td>{{result.driver}}</td>
      <td>{{result.team}}</td>
      <td>{{result.laps}}</td>
      <td>{{result.timeOrRetirement}}</td>
      <td>{{result.grid}}</td>
      <td>{{result.points}}</td>
    </tr>
  {{/each}}
{{/sortable-table}}
