<h3>Best Sectors</h3>
<table class="best-sectors">
  <tr>
    <th>Sector</th>
    <th>Position</th>
    <th>Car Number</th>
    <th>Driver</th>
    <th class="time">Time</th>
  </tr>
  {{#each bestSector in model}}
    <tr>
      <td>{{bestSector.sector}}</td>
      <td>{{bestSector.position}}</td>
      <td>{{bestSector.carNumber}}</td>
      <td>{{bestSector.driver}}</td>
      <td class="time">{{bestSector.time}}</td>
    </tr>
  {{/each}}
</table>
