<h3>Best Sectors</h3>
<table>
  <tr>
    <th>Sector</th>
    <th>Position</th>
    <th>Car Number</th>
    <th>Driver</th>
    <th class="time">Time</th>
  </tr>
  {{#each model}}
    <tr>
      <td>{{sector}}</td>
      <td>{{position}}</td>
      <td>{{carNumber}}</td>
      <td>{{driver}}</td>
      <td class="time">{{time}}</td>
    </tr>
  {{/each}}
</table>
