<h3>Results</h3>
<table>
  <tr>
    <th>Position</th>
    <th>Car Number</th>
    <th>Driver</th>
    <th>Team</th>
    <th>Laps</th>
    <th>Time Or Retirement</th>
    <th>Gap</th>
  </tr>
  {{#each model}}
    <tr>
      <td>{{position}}</td>
      <td>{{carNumber}}</td>
      <td>{{driver}}</td>
      <td>{{team}}</td>
      <td>{{laps}}</td>
      <td>{{timeOrRetirement}}</td>
      <td>{{gap}}</td>
    </tr>
  {{/each}}
</table>
