<h3>Results</h3>
<table class="practice-results">
  <tr>
    <th>Position</th>
    <th>Car Number</th>
    <th>Driver</th>
    <th>Team</th>
    <th class="laps">Laps</th>
    <th class="timeOrRetirement">Time Or Retirement</th>
    <th class="gap">Gap</th>
  </tr>
  {{#each practiceResult in model}}
    <tr>
      <td>{{practiceResult.position}}</td>
      <td>{{practiceResult.carNumber}}</td>
      <td>{{practiceResult.driver}}</td>
      <td>{{practiceResult.team}}</td>
      <td class="laps">{{practiceResult.laps}}</td>
      <td class="timeOrRetirement">{{practiceResult.timeOrRetirement}}</td>
      <td class="gap">{{practiceResult.gap}}</td>
    </tr>
  {{/each}}
</table>
