<h3>Results</h3>
<table>
  <tr>
    <th>Position</th>
    <th>Car Number</th>
    <th>Driver</th>
    <th>Team</th>
    <th class="laps">Laps</th>
    <th class="time">Time Or Retirement</th>
    <th class="gap">Gap</th>
  </tr>
  {{#each model}}
    <tr>
      <td>{{position}}</td>
      <td>{{carNumber}}</td>
      <td>{{driver}}</td>
      <td>{{team}}</td>
      <td class="laps">{{laps}}</td>
      <td class="time">{{timeOrRetirement}}</td>
      <td class="gap">{{gap}}</td>
    </tr>
  {{/each}}
</table>
