<div class="col-md-7">
  <h3>Results</h3>
  <table>
    <tr>
      <th>Position</th>
      <th>Car Number</th>
      <th>Driver</th>
      <th>Team</th>
      <th>Laps</th>
      <th>Time Or Retirement</th>
      <th>Q1</th>
      <th>Q2</th>
      <th>Q3</th>
    </tr>
    {{#each model}}
      <tr>
        <td>{{position}}</td>
        <td>{{carNumber}}</td>
        <td>{{driver}}</td>
        <td>{{team}}</td>
        <td>{{laps}}</td>
        <td>{{timeOrRetirement}}</td>
        <td>{{q1}}</td>
        <td>{{q2}}</td>
        <td>{{q3}}</td>
      </tr>
    {{/each}}
  </table>
</div>
