<h3>Pit Stops</h3>
<table class="pit-stops">
  <tr>
    <th>Stops</th>
    <th>Car Number</th>
    <th>Driver</th>
    <th>Team</th>
    <th class="lap">Lap</th>
    <th class="timeOfDay">Time Of Day</th>
    <th class="time">Time</th>
    <th class="totalPitTime">Total Pit Time</th>
  </tr>
  {{#each model as |result|}}
    <tr>
      <td>{{result.stops}}</td>
      <td>{{result.carNumber}}</td>
      <td>{{result.driver}}</td>
      <td>{{result.team}}</td>
      <td class="lap">{{result.lap}}</td>
      <td class="timeOfDay">{{result.timeOfDay}}</td>
      <td class="time">{{result.time}}</td>
      <td class="totalPitTime">{{result.totalPitTime}}</td>
    </tr>
  {{/each}}
</table>
