<h3>Fastest Laps</h3>
<table class="fastest-laps">
  <tr>
    <th>Position</th>
    <th>Car Number</th>
    <th>Driver</th>
    <th>Team</th>
    <th class="lap">Lap</th>
    <th class="timeOfDay">Time Of Day</th>
    <th class="averageSpeed">Average Speed</th>
    <th class="time">Time</th>
  </tr>
  {{#each model}}
    <tr>
      <td>{{position}}</td>
      <td>{{carNumber}}</td>
      <td>{{driver}}</td>
      <td>{{team}}</td>
      <td class="lap">{{lap}}</td>
      <td class="timeOfDay">{{timeOfDay}}</td>
      <td class="averageSpeed">{{averageSpeed}}</td>
      <td class="time">{{time}}</td>
    </tr>
  {{/each}}
</table>
