<h3>Pit Stops</h3>
<table>
  <tr>
    <th>Stops</th>
    <th>Car Number</th>
    <th>Driver</th>
    <th>Team</th>
    <th class="lap">Lap</th>
    <th class="timeOfDay">Time Of Day</th>
    <th class="time">Time</th>
    <th class="totalPitTime">Total Pit Time</th>
  </tr>
  {{#each model}}
    <tr>
      <td>{{stops}}</td>
      <td>{{carNumber}}</td>
      <td>{{driver}}</td>
      <td>{{team}}</td>
      <td class="lap">{{lap}}</td>
      <td class="timeOfDay">{{timeOfDay}}</td>
      <td class="time">{{time}}</td>
      <td class="totalPitTime">{{totalPitTime}}</td>
    </tr>
  {{/each}}
</table>
