<h3>Results</h3>
<table>
  <tr>
    <th>Position</th>
    <th>Car Number</th>
    <th>Driver</th>
    <th>Team</th>
    <th class="laps">Laps</th>
    <th class="timeOrRetirement">Time Or Retirement</th>
    <th class="grid">Grid</th>
    <th class="points">Points</th>
  </tr>
  {{#each model}}
    <tr>
      <td>{{position}}</td>
      <td>{{carNumber}}</td>
      <td>{{driver}}</td>
      <td>{{team}}</td>
      <td class="laps">{{laps}}</td>
      <td class="timeOrRetirement">{{timeOrRetirement}}</td>
      <td class="grid">{{grid}}</td>
      <td class="points">{{points}}</td>
    </tr>
  {{/each}}
</table>
