<h3>Results</h3>
<table class="race-results">
  <tr>
    <th>Position</th>
    <th>Car Number</th>
    <th>Driver</th>
    <th>Team</th>
    <th class="laps">Laps</th>
    <th class="timeOrRetirement">Time Or Retirement</th>
    <th class="grid">Grid</th>
    <th class="points">Points</th>
  </tr>
  {{#each raceResult in model}}
    <tr>
      <td>{{raceResult.position}}</td>
      <td>{{raceResult.carNumber}}</td>
      <td>{{raceResult.driver}}</td>
      <td>{{raceResult.team}}</td>
      <td class="laps">{{raceResult.laps}}</td>
      <td class="timeOrRetirement">{{raceResult.timeOrRetirement}}</td>
      <td class="grid">{{raceResult.grid}}</td>
      <td class="points">{{raceResult.points}}</td>
    </tr>
  {{/each}}
</table>
