<h3>Pit Stops</h3>
<table class="pit-stops">
  <tr>
    <th>Stops</th>
    <th>Car Number</th>
    <th>Driver</th>
    <th>Team</th>
    <th class="lap">Lap</th>
    <th class="timeOfDay">Time Of Day</th>
    <th class="time">Time</th>
    <th class="totalPitTime">Total Pit Time</th>
  </tr>
  {{#each pitStop in model}}
    <tr>
      <td>{{pitStop.stops}}</td>
      <td>{{pitStop.carNumber}}</td>
      <td>{{pitStop.driver}}</td>
      <td>{{pitStop.team}}</td>
      <td class="lap">{{pitStop.lap}}</td>
      <td class="timeOfDay">{{pitStop.timeOfDay}}</td>
      <td class="time">{{pitStop.time}}</td>
      <td class="totalPitTime">{{pitStop.totalPitTime}}</td>
    </tr>
  {{/each}}
</table>
