<h3>Fastest Laps</h3>
<table class="fastest-laps">
  <tr>
    <th>Position</th>
    <th>Car Number</th>
    <th>Driver</th>
    <th>Team</th>
    <th class="lap">Lap</th>
    <th class="timeOfDay">Time Of Day</th>
    <th class="averageSpeed">Average Speed</th>
    <th class="time">Time</th>
  </tr>
  {{#each fastestLap in model}}
    <tr>
      <td>{{fastestLap.position}}</td>
      <td>{{fastestLap.carNumber}}</td>
      <td>{{fastestLap.driver}}</td>
      <td>{{fastestLap.team}}</td>
      <td class="lap">{{fastestLap.lap}}</td>
      <td class="timeOfDay">{{fastestLap.timeOfDay}}</td>
      <td class="averageSpeed">{{fastestLap.averageSpeed}}</td>
      <td class="time">{{fastestLap.time}}</td>
    </tr>
  {{/each}}
</table>
