<h3>Results</h3>
<table class="race-results">
  <tr>
    <th>Position</th>
    <th>Car Number</th>
    <th>Driver</th>
    <th>Team</th>
    <th class="laps">Laps</th>
    <th class="timeOrRetirement">Time Or Retirement</th>
    <th class="grid">Grid</th>
    <th class="points">Points</th>
  </tr>
  {{#each model as |result|}}
    <tr>
      <td>{{result.position}}</td>
      <td>{{result.carNumber}}</td>
      <td>{{result.driver}}</td>
      <td>{{result.team}}</td>
      <td class="laps">{{result.laps}}</td>
      <td class="timeOrRetirement">{{result.timeOrRetirement}}</td>
      <td class="grid">{{result.grid}}</td>
      <td class="points">{{result.points}}</td>
    </tr>
  {{/each}}
</table>
