<div class="col-md-2">
  <h3>{{id}}</h3>
  <ul class="rounds">
  {{#each round in rounds}}
    <li>{{#link-to 'round' round.id}} {{round.name}} {{/link-to}}</li>
  {{/each}}
  </ul>
</div>
<div class="col-md-2">
  {{outlet round}}
  {{outlet sessions}}
  {{outlet session}}
</div>
<div class="col-md-7">
  {{outlet results}}
</div>
