<h3>Speed Traps</h3>
<table>
  <tr>
    <th>Position</th>
    <th>Car Number</th>
    <th>Driver</th>
    <th class="speed">Speed</th>
    <th class="timeOfDay">Time Of Day</th>
  </tr>
  {{#each model}}
    <tr>
      <td>{{position}}</td>
      <td>{{carNumber}}</td>
      <td>{{driver}}</td>
      <td class="speed">{{speed}}</td>
      <td class="timeOfDay">{{timeOfDay}}</td>
    </tr>
  {{/each}}
</table>
