<h3>Speed Traps</h3>
<table>
  <tr>
    <th>Position</th>
    <th>Car Number</th>
    <th>Driver</th>
    <th>Speed</th>
    <th>Time Of Day</th>
  </tr>
  {{#each model}}
    <tr>
      <td>{{position}}</td>
      <td>{{carNumber}}</td>
      <td>{{driver}}</td>
      <td>{{speed}}</td>
      <td>{{timeOfDay}}</td>
    </tr>
  {{/each}}
</table>
