<h3>Speed Traps</h3>
<table class="speed-traps">
  <tr>
    <th>Position</th>
    <th>Car Number</th>
    <th>Driver</th>
    <th class="speed">Speed</th>
    <th class="timeOfDay">Time Of Day</th>
  </tr>
  {{#each speedTrap in model}}
    <tr>
      <td>{{speedTrap.position}}</td>
      <td>{{speedTrap.carNumber}}</td>
      <td>{{speedTrap.driver}}</td>
      <td class="speed">{{speedTrap.speed}}</td>
      <td class="timeOfDay">{{speedTrap.timeOfDay}}</td>
    </tr>
  {{/each}}
</table>
